In [9]:
import pandas as pd

data = {
    "TestCase": ["TC1", "TC2", "TC3", "TC4", "TC5"],
    "Module": ["Login", "Login", "Payment", "Payment", "Reports"],
    "Status": ["Passed", "Failed", "Passed", "Failed", None],
    "Duration": [12, None, 20, 18, 25],
    "Defects": [0, 2, None, 3, 0]
}

df = pd.DataFrame(data)
print(df)

  TestCase   Module  Status  Duration  Defects
0      TC1    Login  Passed      12.0      0.0
1      TC2    Login  Failed       NaN      2.0
2      TC3  Payment  Passed      20.0      NaN
3      TC4  Payment  Failed      18.0      3.0
4      TC5  Reports    None      25.0      0.0

Use .isnull().sum() to count missing values in each column. 

Use .fillna(value) to:

Replace missing Duration with the mean duration.

ReplacemissingStatuswith"Unknown".

Use .dropna() to drop any row that still contains missing values. 

Print the cleaned DataFrame.

In [10]:
df.isnull().sum()

TestCase    0
Module      0
Status      1
Duration    1
Defects     1
dtype: int64

In [11]:
df.fillna({
    "Duration": df["Duration"].mean(),
    "Status": "Unknown"
}, inplace=True)
print(df)

  TestCase   Module   Status  Duration  Defects
0      TC1    Login   Passed     12.00      0.0
1      TC2    Login   Failed     18.75      2.0
2      TC3  Payment   Passed     20.00      NaN
3      TC4  Payment   Failed     18.00      3.0
4      TC5  Reports  Unknown     25.00      0.0

In [12]:
df.dropna(subset=["Defects"], inplace=True)
print("\nCleaned dataset:")
print(df)

Cleaned dataset:
  TestCase   Module   Status  Duration  Defects
0      TC1    Login   Passed     12.00      0.0
1      TC2    Login   Failed     18.75      2.0
3      TC4  Payment   Failed     18.00      3.0
4      TC5  Reports  Unknown     25.00      0.0